body{
    font-family: Arial;
    margin:0;
    background:#f4f6f9;
}

header{
    background:#1e40af;
    color:white;
    padding:20px;
    text-align:center;
}

.cards{
    display:flex;
    gap:10px;
    padding:15px;
    flex-wrap:wrap;
}

.card{
    background:white;
    padding:15px;
    border-radius:10px;
    flex:1;
    min-width:150px;
}

table{
    width:95%;
    margin:auto;
    border-collapse:collapse;
    background:white;
}

th, td{
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
}

th{
    background:#1e40af;
    color:white;
}